html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    font-size: 16px;
    font-family: 'Heebo', sans-serif;
    scroll-behavior: smooth;
}

body * {
    transition: all 0.3s ease-in-out;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin-inline: auto;
    margin-block: 1rem;
    padding-inline: 2rem;
}

#banner-button {
    cursor: pointer;
}

#banner-button:hover {
    background-color: #ff6464ba;
}

.hamburger {
    display: none;
}

.home-header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-block: 30px;
}

.home-ul {
    display: flex;
}

.active {
    color: #FF6464 !important;
}

.home-ul>a {
    display: inline;
    padding: 0 15px;
    font-size: 1.25rem;
    font-weight: 500;
    font-style: normal;
    color: #000000;
    list-style: none;
    text-decoration: none;
}

.sect-one {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    /* padding: 70px 190px; */
    padding-block: 70px;
}

.sect-one>div:nth-child(1) {
    width: 50%;
    padding: 70px 0;
}

.sect-one>div:nth-child(2) {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-head {
    font-size: 44px;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
}

.sect-one div>p {
    margin: 30px 0;
}

.sect-one div>button {
    background: #FF6464;
    border-style: none;
    padding: 15px 30px;
    color: #fff;
    font-family: Heebo;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;
}

.prof-img {
    width: 270px;
    height: 250px;
    object-fit: contain;
}

.sect-two {
    background: #EDF7FA;
    padding-block: 70px;
}

.sect-two-head {
    display: flex;
    justify-content: space-between;
}

.sect-two-head p:nth-child(2) {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #00A8CC;
}

.sect-two-head p:nth-child(1) {
    font-size: 22px;
}

.sect-two-wrapper {
    display: flex;
    justify-content: space-between;
}

.sect-two-wrapper>div {
    background-color: #fff;
    width: 49%;
    padding: 20px 27px;
    border-radius: 4px;
}

.sect-two-wrapper div>div h3 {
    font-size: 26px;
    font-weight: 700;
    line-height: 38px;
    margin: 0;
}

.sect-two-date p {
    margin: 0;
}

.sect-two-date p:nth-child(even) {
    padding: 0px 25px;
}

.sect-two-date {
    display: flex;
    margin: 26px 0;
}

.sect-three {
    padding-block: 70px;
}

.sect-three>p {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    color: #21243D;
}

.sect-three>div {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E0E0E0;
    padding: 20px 0;
}

.sect-three>div>div:nth-child(1) {
    width: auto;
}

.sect-three>div>div:nth-child(2) {
    margin-inline-start: 2rem;
    flex-grow: 1;
    width: auto;
}

.sect-three-date {
    display: flex;
    align-items: center;
    padding: 25px 0;
}

.sect-three>div h5 {
    font-size: 30px;
    font-weight: 700;
    line-height: 44px;
    margin: 0;
}

.sect-three>div p {
    margin: 0;
}

.sect-three-date>p:nth-child(1) {
    background: #142850;
    border-radius: 16px;
    color: #fff;
    font-size: 18px;
    font-weight: 900;
    padding: 0px 13px;
    margin-right: 20px;
}

.sect-three-date>p:nth-child(2) {
    font-family: 'Heebo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.footer-icons {
    margin: 0 15px;
    width: 20px;
    height: 20px;
}

.footer p {
    margin-top: 1rem;
}

@media screen and (max-width: 992px) {

    .sect-two-wrapper>div:nth-child(1),
    .sect-two-wrapper>div:nth-child(2) {
        margin: 5px 5px;
    }
}

@media screen and (max-width: 576px) {
    .home-header {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger-wrapper {
        display: flex;
        justify-content: end;
        width: 97%;
    }

    .sect-one {
        flex-wrap: wrap;
        width: 90%;
        padding: 0px 0px;
        margin: auto;
        text-align: center;
        position: relative;
    }

    .sect-one>div:nth-child(1) {
        width: 100%;
        padding: 0;
        margin: 50px 0;
        position: absolute;
        top: 270px;
        right: 0;
    }

    .sect-one>div:nth-child(2) {
        width: 100%;
        padding-top: 30px;
    }

    .banner-head {
        font-family: 'Heebo';
        font-size: 32px;
        font-weight: 700;
        line-height: 40px;
    }

    .sect-one div>p {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }

    .sect-one div>button {
        background: #FF6464;
        border-style: none;
        padding: 15px 30px;
        color: #fff;
        font-size: 20px;
        font-weight: 500;
        border-radius: 2px;
    }

    .sect-two {
        width: 100%;
        padding: 10px 0;
        margin-top: 390px;
    }

    .sect-two-wrapper {
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }

    .sect-two-wrapper>div:nth-child(1),
    .sect-two-wrapper>div:nth-child(2) {
        width: 100%;
        margin: 10px 0;
        border-radius: 4px;
    }

    .sect-two-wrapper div>div h3 {
        font-size: 22px;
    }

    .sect-two-head>p:nth-child(2) {
        display: none;
    }

    .sect-two-head {
        justify-content: center;
    }

    .sect-three {
        width: 90%;
        padding: 0;
        margin: auto;
    }

    .sect-three>div {
        width: 100%;
        flex-wrap: wrap;
    }

    .sect-three>div>div:nth-child(1) {
        width: 100%;
    }

    .sect-three>div>div:nth-child(2) {
        margin-inline-start: 0rem;
    }

    .sect-three-img {
        width: 100%;
    }

    .footer {
        padding-top: 170px;
    }

}